/*
//======================================================================================
//  Messages
//======================================================================================
*/

.tableBorder
{
    border: 1px solid #333;
    width:100%;
}
.topGradient
{
    padding: 4px;
    COLOR: #000;
    BACKGROUND-COLOR: #ccc;
    TEXT-ALIGN: left;
    font-weight: bold;
    font-size: 120%;
}
.insideRows
{
    width:100%;
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: black;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: 0px;
}

.internalColumn
{
	width: 175px;
}
TR.MainSearchResultsOdd
{
    FONT-FAMILY: Arial, Helvetica;
    HEIGHT: 15pt;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
}
TR.MainSearchResultsEven
{
    FONT-FAMILY: Arial, Helvetica;
    HEIGHT: 15pt;
    BACKGROUND-COLOR: #bcd6d1;
    TEXT-ALIGN: left;
}
TABLE.MainSearchResultsHeader
{
    BORDER-TOP: #041751 1px solid;
    MARGIN-TOP: 15px;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 8px;
    BORDER-BOTTOM: #041751 1px solid;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #a9b0c4;
    TEXT-ALIGN: left;
}
TABLE.MainSearchResultsHeaderPrint
{
    BORDER-TOP:   #000000 1px solid;
    BORDER-LEFT:  #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 8px;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #ebebeb;
    TEXT-ALIGN: left;
}
TR.MainSearchResultsHeader
{
    BORDER-TOP: #041751 1px solid;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 8px;
    PADDING-TOP: 15px;
    BORDER-BOTTOM: #041751 1px solid;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #a9b0c4;
    TEXT-ALIGN: left;
}
.pageHeading
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: #041751;
    PADDING-TOP: 5px;
    FONT-FAMILY: Arial, sans-serif, Helvetica;
}
.tablePaddingLeft
{
    PADDING-LEFT: 10px;
}
.tablePaddingTop
{
    PADDING-TOP: 15px;
}
.requiredField
{
    BACKGROUND-COLOR: #bcd6d1;
}

.MainSearchResultsHeaderTD
{
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-STYLE: solid none solid none;
    BORDER-WIDTH: 1px 0px 1px 0px;
    BORDER-COLOR: #000000 #000000 #000000 #000000;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #a9b0c4;
    TEXT-ALIGN: left;
}

.SearchScreenLabel
{
    FONT-WEIGHT: bold;
    COLOR: #333333;
}

.SETTINGBOX{
	visibility: visible;
	background-color: #ffffff;
	border: thin solid 1px #aaaaaa;
	padding: 5px;
}

.SettingBoxHeader{
    BORDER-TOP: #041751 1px solid;
    MARGIN-TOP: 15px;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 8px;
    BORDER-BOTTOM: #041751 1px solid;
    FONT-FAMILY: Arial, Helvetica;
    BACKGROUND-COLOR: #a9b0c4; /*#c4cce4;*/
    TEXT-ALIGN: left;
}

.searchButton
{
}
.clearButton
{
}