/*
'********************************************************************* 
' Name:			main.css
' Created date: 5/15/2003 
' Created by:   Keiji Ikuta
' Purpose:      Standard CSS for RMLSweb V2 System
' Inputs:
' Outputs:
' Notes:   
' Update date:
' Update by:
'********************************************************************* 
*/


/*
//======================================================================================
//    Standard Tag CSS
//======================================================================================
*/
html
{
    margin:0px;
    padding:0px;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: verdana, Arial, Helvetica;
	background-color:#e6e6ef;
	font-size:small;
	line-height: 1.5;
}

td
{
}
a
{
	COLOR: #0000FF;
    TEXT-DECORATION: none
}
h6
{
	font-size: 80%;
	font-family: Arial, 'Times New Roman';
}
input
{
}
select
{
}
option
{
}



#NONPRINTSECTION_CB_HEAD
{
    
}
#NONPRINTSECTION_CB_MENU
{
}

#NONPRINTSECTION_SQLPRINT 
{
    padding:10px;
    padding-left:20px;
    margin:10px;
    border:solid 1px #666;
}
#NONPRINTSECTION_SQLPRINT table td
{
    font-size:80%;
    padding:2px;
}
/*
//======================================================================================
//  Page Centering Schema
//======================================================================================
*/

.SEARCH_BODY_OUTER{
	/*width: 100%;*/
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
	visibility: visible;
	background-color: #F2F4F8;
}


.SEARCH_BODY_INNER_SHADE{
	margin-top: 1px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	visibility: visible;
	background-color: #ffffff;
	border:  none;
	text-align: left;
}

.SEARCH_BODY_INNER{
	margin: 0px;
	padding-bottom: 10px;
	visibility: visible;
	background-color: #ffffff;
	border-top: none 1px #FFFFFF;
	border-left: none 1px #FFFFFF;
	border-bottom: #bbbbbb 1px solid;
	border-right: #bbbbbb 1px solid;
	text-align: left;
}

.SEARCH_BODY_MAIN{
	margin: 4px;
	padding: 4px;
	visibility: visible;
	background-color: #ffffff;
	border: thin solid 1px #aaaaaa;
}




/*
//======================================================================================
//  Page Titles
//======================================================================================
*/
.PAGE_TITLE_MAIN
{
	FONT-FAMILY: Arial, Helvetica;
	COLOR: #041751;
	font-size:105%;
}


.PAGE_TITLE_SUB
{
	FONT-FAMILY: Arial, Helvetica;
	COLOR: #041751;
	font-size:90%;
}



/*
//======================================================================================
//  Pager Navigation
//======================================================================================
*/
.PAGER_NONLINK
{
	FONT-SIZE: 75%;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-DECORATION: none;
    COLOR: #000000;
}

.PAGER_LINK
{
    FONT-SIZE: 75%;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-DECORATION: underline;
    COLOR: #0000FF;
}

.PAGE_DISCLAIMER
{
    padding:10px;
    text-align:center;
    font-size:85%;
}

/*
//======================================================================================
//  LINK colors
//======================================================================================
*/

/* ========== */
A.LINK_MLN:link
{
    COLOR: #0000CC;
    TEXT-DECORATION: underline;
}
A.LINK_MLN:visited
{
    COLOR: #CC2200;
    TEXT-DECORATION: underline;
}
A.LINK_MLN:hover
{
    COLOR: #0a8e6a;
    TEXT-DECORATION: underline;
}


/* ========== */
A.LINK_SORT:link
{
    COLOR: #0000AA;
    TEXT-DECORATION: underline;
}
A.LINK_SORT:visited
{
    COLOR: #0000AA;
    TEXT-DECORATION: underline;
}
A.LINK_SORT:hover
{
    COLOR: #0000AA;
    TEXT-DECORATION: underline;
}


/* ========== */
A.LINK_NAV:link
{
    display:inline-block;
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    height: 18px;
	border: solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 3px;
    margin: 2px;
}
A.LINK_NAV:visited
{
    display:inline-block;
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    height: 18px;
	border: solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 3px;
    margin: 2px;
}
A.LINK_NAV:hover
{
    display:inline-block;
    COLOR: #000000;
    BACKGROUND-COLOR: #cfd9cf;
    height: 18px;
	border: solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 3px;
    margin: 2px;
}


/* ========== */
A.LINK_CMD:link
{
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    height: 18px;
    font-size: 100%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}
A.LINK_CMD:visited
{
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    height: 18px;
    font-size: 100%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}
A.LINK_CMD:hover
{
    COLOR: #000000;
    BACKGROUND-COLOR: #cfd9cf;
    height: 18px;
    font-size: 100%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}


/* ========== */
A.LINK_CMD2:link
{
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    font-weight:bold;
    height: 18px;
    font-size: 100%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}
A.LINK_CMD2:visited
{
    COLOR: #000000;
    BACKGROUND-COLOR: #eff9ef;
    font-weight:bold;
    height: 18px;
    font-size: 75%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}
A.LINK_CMD2:hover
{
    COLOR: #000000;
    BACKGROUND-COLOR: #cfd9cf;
    font-weight:bold;
    height: 18px;
    font-size: 100%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    margin: 1px;
}

#PAGENAVIGATION .TITLE
{
    font-size:140%;
    font-weight:bold;
}


/* ------------------------------ */
#RMLSLOGO_TOP {
	width:200px;
	background-color: #fff;
	padding:6px;
	border:none;
}
#PAGEFRAME
{
    margin:0px;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 3px #888888;
    padding:0px;
}

#SITEHEADER 
{
    margin:0px;
    height: 100px;
    padding:2px;
    width:100%;
    /*background-color: #185888;*/
    /*background-color: #3878c8;*/
    background-color: #fff;

}
#SITEHEADER td
{
    padding:3px;
}
#PAGEMENU {
}
#cbm {
}
.yui3-skin-sam div.yui3-menu-content 
,.yui3-skin-sam  .yui3-menu
,.yui3-skin-sam .yui3-menu-content li {
    background-color: #1858a8;
    color:#fff;
}
.yui3-skin-sam .yui3-menu a {
    color:#fff;
}
.yui3-skin-sam a.yui3-menuitem-content 
,.yui3-skin-sam a.yui3-menuitem-content em
,.yui3-skin-sam a.yui3-menu-label em
,.yui3-skin-sam li.yui3-menuitem  a.yui3-menuitem-content
{
    color:#fff;
}
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-conten {
    color:#fff;
}
.yui3-skin-sam a.yui3-menuitem-active
,.yui3-skin-sam a.yui3-menuitem-active em
 {
    color:#fff;
    font-family: :Arial;
}
.yui3-skin-sam a.yui3-menu-label-active em {
    color:#000;
}
.yui3-skin-sam a.yui3-menu-label-menuvisible 
,.yui3-skin-sam a.yui3-menu-label-menuvisible em
{
    color:#000;
}
.yui3-skin-sam .yui3-menu .yui3-menu div.yui3-menu-content
,.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content
,.yui3-skin-sam a.yui3-menu-label-active
{
    background-color: #1858a8;
    color:#fff;
}
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content a
,.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-content a
{
    color:#fff;
}
.yui3-skin-sam .yui3-menu .yui3-menuitem-active a.yui3-menuitem-content
{
    color:#000;
}
.yui3-skin-sam .yui3-menubuttonnav li {
	border-right: 1px solid #999;
}
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-content {
    background-color: #1858a8;
    background-image: none;
}


#PAGECONTENTSFRAME
{
    position: relative;
}

#NONPRINTSECTION_CB_HEAD {
	
}
#NONPRINTSECTION_CB_MENU 
{
}
#PAGEMENU 
{
    display: none;
}
#PAGECONTENTS 
{
    min-height:400px;
}
#PAGECONTENTS2 
{
    margin:0px;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
    background-color: #fff;
}
#AD_BOTTOM 
{
    width:730px;
    margin:10px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.yui3-menu-content {
	border-left: none;
	border-right: none;
}

.AD_DUMMY {
    border:solid 1px #000;
    background-color: #fee;
}

.formcommands 
{
    padding:0px;
    padding-top:4px;
    padding-bottom:4px;
}
.bigbutton 
{
    display:inline-block;
	border: 2px solid #333;
	background-color: #aaf;
	border-radius:10px;
	padding:10px;
	margin:5px;
}

.PAGE_BOTTOMLINKS
{
    padding:10px;
    text-align:center;
    font-size:85%;
}
/*cfeecf  afdeaf*/

#PAGE_FOOTER_SECTION 
{
    margin-top:30px;
    background-color: #eee;
    border-top:1px solid #aaa;
}

.ContentBody
{
    padding:10px;
    margin:0px;
    padding-left:20px;
    padding-right:20px;
}


.ContentBody table 
{
}

.TopNavBC {
    background-color:#ccc;
    padding:2px;
    padding-left:10px;
    margin:0px;	
    border-top:2px solid #aaa;
}

.TopNavTab  {
	padding:0px;
	margin:0px;
	padding-top:6px;
    background-color:#ccc;
	border-bottom:8px solid #999;
}
.TopNavTab ul {
	padding:0px;
	padding-left:10px;
	margin:0px;
}
.TopNavTab li {
    display:inline-block;
	height:20px;
	line-height:20px;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	margin-left:2px;
    background-color:#eee;
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
}
.TopNavTab li a , .TopNavTab li a:visited
{
    color:#000;
}
.TopNavTab li.selected 
{
    background-color: #999;
    color:#fff;
}
.TopNavTab li.selected  a , .TopNavTab li.selected  a:visited
{
    color:#fff;
    font-weight: bold;
}