/*
'********************************************************************* 
' Name:  report.css
' Created date: 5/15/2003 
' Created by:   Keiji Ikuta
' Purpose:      Standard Report CSS for RMLSweb V2 System
' Inputs:
' Outputs:
' Notes:     
' Update date:	12/9/2004
' Update by:	Jon Harrison
' Update notes:	RMLS.COM 88 - commented out @media sections as IE for Mac does not support
				these.
'
' Update date:	1/13/2012
' Update by:	Jon Harrison
' Update notes:	RCOM-74.  Added '.PERMALINK' class.
'
'********************************************************************* 
*/

/*
@media print; {
  BODY {
	size: 8.5in 11in landscape; 
	margin-left: 0.188in;
	margin-right: 0.188in;
	margin-top: 0.5in;
	margin-bottom: 0.5in;
	vertical-align: top;
  }
}

@media screen; {
  BODY {
	size: 8.5in 11in landscape; 
	margin-left: 2in;
	margin-right: 2in;
	margin-top: 0.5in;
	margin-bottom: 0.5in;
	vertical-align: top;
  }
}
*/


.REPORT_PAGE_HEADER {
    margin:0px;
    padding:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#eee;
    border-bottom: 1px solid #aaa;
}
@media print {
    .REPORT_PAGE_HEADER {
        display:none;
    }
}

/*
//======================================================================================
//  Report Sections
//======================================================================================
*/
.RG_REPORT_MSG
{
    margin:5px;
    padding:10px;
    color:#000;
	width:90%; 
	border-style:solid; 
	border-width:1px; 
	background-color:#F0E9E9;
}
.RG_RECORDS_EXCEEDED
{
    margin:5px;
    padding:10px;
    color:#000;
	width:90%; 
	border-style:solid; 
	border-width:1px; 
	background-color:#F0E9E9;
}

.RG_REPORT TD
{
    FONT-FAMILY: Arial, Helvetica;
}

.RG_REPORT L
{
	font-size: 100%;
	FONT-FAMILY: Arial, Helvetica;
}

.REPORT_PRINT_PAGE
{
/*
	width: 

	margin-top: 0.5in;
	margin-bottom: 0.5in;
	margin-left: 0.188in;
	margin-right: 0.188in;
	*/
	margin: 0px;
	padding: 0px;
}

.REPORT_HEADER
{
    FONT-WEIGHT: bold;
    font-size: 105%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    WIDTH: 100%;
    text-align: center;
}
.REPORT_FOOTER
{
    FONT-WEIGHT: bold;
    font-size: 105%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    WIDTH: 100%;
    text-align: center;
}

.REPORT_PRINT_HEADER
{
    FONT-WEIGHT: bold;
    font-size: 105%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    WIDTH: 100%;
    text-align: center;
}
.REPORT_PRINT_FOOTER
{
    FONT-WEIGHT: bold;
    font-size: 105%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    WIDTH: 100%;
    text-align: center;
}

.REPORT_STATUS_HEADER
{
    FONT-WEIGHT: bold;
    font-size: 95%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
}


.REPORT_TABLE
{
	padding:0px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
}

.REPORT_TABLE td
{
}

.REPORT_TABLE td b
{
    font-weight:bold;
}

.REPORT_SECTION_BIG td
{
    font-size:120%;
}
.REPORT_SECTION_BIG td b
{
    font-size:120%;
    font-weight:bold;
}

.REPORT_TABLE_LL
{
	padding:2px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
}

.REPORT_ROW_HEADER
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #a9b0c4;
}

.REPORT_ROW_HEADER TD
{
    FONT-SIZE: 75%;
    FONT-FAMILY: Arial, Helvetica;
    BORDER-STYLE: solid none solid none;
    BORDER-WIDTH: 1px 0px 1px 0px;
    BORDER-COLOR: #000000 #000000 #000000 #000000;
}


.REPORT_ROW_HEADER_PRINT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 90%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-ALIGN: left;
}
.REPORT_ROW_HEADER_PRINT TD
{
    FONT-SIZE: 90%;
    FONT-FAMILY: Arial, Helvetica;
    BORDER-STYLE: solid none solid none;
    BORDER-WIDTH: 1px 0px 1px 0px;
    BORDER-COLOR: #000000 #000000 #000000 #000000;
}


.REPORT_ROW_FOOTER
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #a9b0c4;
}

.REPORT_ROW_FOOTER TD
{
    FONT-SIZE: 75%;
    FONT-FAMILY: Arial, Helvetica;
    BORDER-STYLE: solid none solid none;
    BORDER-WIDTH: 1px 0px 1px 0px;
    BORDER-COLOR: #000000 #000000 #000000 #000000;
}


.REPORT_ROW_FOOTER_PRINT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica;
    TEXT-ALIGN: left;
}

.REPORT_ROW_FOOTER_PRINT TD
{
    FONT-SIZE: 75%;
    FONT-FAMILY: Arial, Helvetica;
    BORDER-STYLE: solid none solid none;
    BORDER-WIDTH: 1px 0px 1px 0px;
    BORDER-COLOR: #000000 #000000 #000000 #000000;
}

.SPECIFIC_ORDER_LABEL
{
    font-size: 50%;
    FONT-FAMILY: Arial, Helvetica;
}

.REPORT_TOTALCOUNT
{
    font-size: 75%;
    FONT-FAMILY: Arial, Helvetica;
    FONT-WEIGHT: bold;
}

.REPORT_STDTABLE
{
	padding: 0px;
	margin: 0px;
}

.REPORT_STDBOX
{
	background-color: #ffffff;
	border: thin solid 1px #aaaaaa;
	padding: 5px;
	width: 100%;
}




/*
//======================================================================================
//  Listing Load Style
//======================================================================================
*/



A.LL_CMD_LINK:link
{
    COLOR: #333333;
    BACKGROUND-COLOR: #eeeeee;
    height: 16px;
    font-size: 75%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
}
A.LL_CMD_LINK:visited
{
    COLOR: #333333;
    BACKGROUND-COLOR: #eeeeee;
    height: 16px;
    font-size: 75%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
}
A.LL_CMD_LINK:hover
{
    COLOR: #333333;
    BACKGROUND-COLOR: #cccccc;
    height: 16px;
    font-size: 75%;
	border: thin solid 1px #aaaaaa;
    TEXT-DECORATION: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
}


.REPORT_TOTALCOUNT
{
    font-size:100%;
}

.REPORT_PAGER
{
    font-size:100%;
}

.REPORT_PAGER .PAGER_NONLINK
{
    font-size:100%;
}
.REPORT_PAGER a.PAGER_LINK
{
    font-size:100%;
}


.REPORT_PAGER table {
    width:auto;
}


.PERMALINK
{
	background-color:#F2F2F2;
	border:1px solid #CCCCCC;
	display:none;
	padding:3px;
}
.PERMALINK_ITEM {
	margin:5px;
	margin-left:10px;
	float:left;
}
#fb-root 
{
}